body {
    font-family: 'Mulish', sans-serif; 
}

hr {
    margin-left: 25%;
    margin-right: 25%;
}

.container-1 {
    display: flex; 
    padding: 50px;
    justify-content: space-between;
    gap: 10px;
}

.container-2 {
    display: flex; 
    padding: 10px;
    justify-content: center;
    gap: 40px; 
}

.container-2 a{
    text-decoration: none;
    color: black;
    
}

h4 {
    text-align: center;
}
footer {
    text-align: center;
}


label {
    text-align: left;
}


p {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    word-wrap: break-word;
}

.logo {
    width: 140px;
    height: 140px;
}

.menu {
    width: 40px;
    height: 40px;
    margin-left: 5% ;
    margin-top: 0 px ;
    justify-content: center;
}

.name-left {
    text-align: center;
    margin-top: 0px;
}

.search-button {
    width: 40px;
    height: 40px;
    margin-right: 5% ;  
}

#Christmas-discount {
    display: flex; 
    padding-top: 10%;
    justify-content: center;
    gap: 40px; 
}

#Company-name {
    text-align: center;
    margin-top: 0px;
}

.nav-item {
    position: relative;
   }
  .drop-down {
    position: absolute;
    background-color: #3cb371;
    max-width: 400px;
    width: 100%;
    display: none;
  }
  .nav-item:hover > .drop-down {
    display: block;
  }


  .button a{
    text-decoration: none;
    color:black;
  }

  #second-name{
    padding-top: 15%;
    text-align: center;
  }
  

 