body {
    font-family: 'Mulish', sans-serif; 
}

h1 {
    text-align: center;
}

hr {
    margin-left: 25%;
    margin-right: 25%;
}

.container-1 {
    display: flex; 
    padding: 50px;
    justify-content: space-between;
    gap: 10px;
}

.container-2 {
    display: flex; 
    padding: 10px;
    justify-content: center;
    gap: 40px;  
}

.container-2 a{
    text-decoration: none;
    color: black;
    
}


form {
    text-align: center;
}

h4 {
    text-align: center;
}
footer {
    text-align: center;
}


label {
    text-align: left;
}


p {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    word-wrap: break-word;
}


textarea[id=text_name] {
    word-wrap: break-word;
    word-break: break-all;
    width: 170px;
    height: 150px;
  }

#message {
    height: 100px;
}

#contact-us {
    padding-top: 20px;
}


.logo {
    width: 140px;
    height: 140px;
}

.menu {
    width: 40px;
    height: 40px;
    margin-left: 5% ;
}

.name-left {
    text-align: center;
    margin-top: 0px;
}

.search-button {
    width: 40px;
    height: 40px;
    margin-right: 5% ;  
}


   